header
{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
header .link
{
    text-decoration: none;
    color: #A68745;
    margin-right: 30px;
    padding-bottom: 4px;
   
}
header .link:hover
{
  
    border-bottom: 1px solid #A68745;
}
.active 
{
    border-bottom: 1px solid #A68745;
}
header img
{
    width: 100px;
}