.intro
{
    width: 80%;
    max-width: 1100px;
    margin: 50px auto;
    text-align: center;
}
.headText
{
    max-width: 600px;
    
}
.headText h1
{
    opacity: 0; /* Initially set opacity to 0 */
    transform: translateX(-100%);
    animation: fadeInFromLeft 1s ease-out forwards; /* Animation for the h1 */
}
.intro img 
{
    max-width: 340px;
}
.row
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headText h1
{
   font-size: 2.8rem;
}
.skillIMG
{
    width: 35px;
    height: 35px;
}
.skillBlock
{
    color:#0F2121;
    display: flex;
    border: 1px solid #A68745; 
    padding: 5px; 
    justify-content: center;
    align-items: center;
    background-color: #A68745;
    gap: 10px;
    border-radius: 10px;
    flex-wrap:wrap;
}
.skillRow
{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
    grid-template-rows: repeat(2, 1fr); /* 2 rows with equal height */
    gap: 30px;
    width: 500px;
    max-width: 80%;
    background-color: #183131;
    padding: 30px 30px;
    border-radius: 10px;
    
}
section h2
{
    text-align: center;
    margin-bottom: 100px;
}
.skillContainer
{
    display: flex;
    justify-content: center;
    
}
section
{
    margin-bottom: 250px;
}
.projectIMG
{
    width: 380px;
    max-width: 80vw;
    
    max-height: 250px;
    
    border-radius: 10px;
    
}
.projectsOuter
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 80%;
    max-width: 900px;
    margin: 100px auto;
   
 
}
.projectContainer p
{
    text-align: justify;
    margin-bottom: 50px;
    
}
.projectContainer
{
    background-color: #183131;
    padding: 20px;
    border-radius: 10px;
}
.primaryButton
{
    all:unset;
    color: #0F2121;
    background-color: #E8B852;
    border-radius: 30px;
    padding: 10px 25px;
    font-size: 18px;
    margin-right: 10px;
    
}
.primaryButton:hover
{
    background-color: rgb(235, 213, 165);
    cursor:pointer;
}
li a 
{
    text-decoration: none;
    color: #A68745;
}
ul
{
    text-align: center;
    list-style-type: none;
}
.small
{
    max-width: 500px;
    flex-direction: column;
}
.headText p {
    opacity: 0; /* Initially set opacity to 0 */
    transform: translateX(100%);
    animation: fadeInFromRight 1s ease-out forwards; /* Animation for the h1 */
  }

  @keyframes fadeInFromLeft {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInFromRight {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .skills 
  {
    margin-top: 30vh;
    margin-bottom: 10vh;
  }
  .projects
  {
    margin-top: 30vh;
    margin-bottom: 10vh;
  }
  .leaves 
  {
    display: flex;
    overflow: hidden;
  }
  .leaf1
  {
    position: absolute;
    width: 30vw;
    top: 60vh;
    left: 0;
    transform: rotate(20deg);
    
  }
  .leaf2
  {
    position: absolute;
    width: 30vw;
    top: 60vh;
    right: 0;
   
  }
  .smallLeaf
  {
    width: 40vw;
    top: 75vh;
  }
  .leaf3, .leaf4
  {
    position: absolute;
    width: 30vw;
    bottom: 0px;
  }
  .leaf3 
  {
    left: 0;
    transform: rotate(20deg);
    
  }
  .leaf4 
  {
    right: 0;
  }
  .leavesBottom
  {
    flex: 1;
    position: relative;
    
  }
  .smallLeaf2
  {
    width: 40vw;
  }
  .footer
  {
    margin-top: 20vh;
  }
  